

	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h2 class="text-center mb-5">Update Address</h2>
				<form action="#" method="post" id="update-address-form">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" >
					</div>
					<div class="form-group">
						<label for="houseNo">House No:</label>
						<input type="text" class="form-control" id="houseNo" name="houseNo" placeholder="Enter House No" >
					</div>
					<div class="form-group">
						<label for="street">Street:</label>
						<input type="text" class="form-control" id="street" name="street" placeholder="Enter Street" >
					</div>
					<div class="form-group">
						<label for="city">City:</label>
						<input type="text" class="form-control" id="city" name="city" placeholder="Enter City" >
					</div>
					<div class="form-group">
						<label for="district">District:</label>
						<input type="text" class="form-control" id="district" name="district" placeholder="Enter District" >
					</div>
                                      <input type="hidden" id="address-id" value="{{addressId}}">

					<div class="form-group">
						<label for="state">State:</label>
						<input type="text" class="form-control" id="state" name="state" placeholder="Enter State" >
					</div>
					<div class="form-group">
						<label for="country">Country:</label>
						<input type="text" class="form-control" id="country" name="country" placeholder="Enter Country" >
					</div>
					<div class="form-group">
						<label for="pinCode">Pin Code:</label>
						<input type="number" class="form-control" id="pinCode" name="pinCode" placeholder="Enter Pin Code" >
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label>
						<input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone" >
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" >
					</div>
					<div class="text-center">
						<button type="submit" form="update-address-form" class="btn btn-primary">Update</button>
						<a href="#" class="btn btn-secondary">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>

{{! jquery script Must be placed in before }}
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>

	<script>




$(document).ready(function() {
    $('#update-address-form').on('submit', function(e) {
        console.log("Update Address Function");
        e.preventDefault();
        var addressId = $('#address-id').val(); // get the address ID from the hidden input field
        console.log(addressId);
        var formData2 = {
            name: $('#name').val() || "NewTest",
            houseNo: $('#houseNo').val(),
            street: $('#street').val(),
            city: $('#city').val(),
            district: $('#district').val(),
            state: $('#state').val(),
            country: $('#country').val(),
            pinCode: $('#pinCode').val(),
            phone: $('#phone').val(),
            email: $('#email').val()
        };
        console.log("formData");
        console.log(formData2);
        $.ajax({
            type: 'PATCH',
            url: '/updateaddress/' + addressId,
            data: formData2, 
            success: function(response) {
                console.log(response);
                alert("Successfully Updated");
                 window.location.href = "/savedaddress"           }, 
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
                alert("Address Updation failed")
                // Handle any errors that occur 
            }
        });
    });
});
</script>